*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(145, 172, 214);
}

.main{
    width: 100%;
    background-color: rgb(71, 130, 224);
    height: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20rem;
}

.trello{
    display: flex;
    gap: 10px;
}

.trello h1{
    font-size: 35px;
    color: white;
    font-family: sans-serif;
}

.trello .fa-brands{
    color: white;
    font-size: 35px;
}

.links .fa-brands{
    color: white;
    font-size: 35px;
}

.links{
    display: flex;
    gap: 10px;
}